* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 4rem; 
    font-family: Arial, Helvetica, sans-serif;
    }

header {
    background-color: #479488;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

.nav_links{
    display: flex;
    color: #479488;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.nav_links a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav_links li a:hover,
.nav_links li a.active{
    background-color: #93d9cf;
    border-radius: 5px;
}


.banner{
    background: url('zdjecia/hero-startup.png')no-repeat center center/cover;
    text-align: center;
    color: #000;
    padding: 24rem 1rem;
}

.banner h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.banner p{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.banner button{
    background-color:#479488;
    border-radius: 15px;
    font-size: 1rem;
    padding: 0.7rem 1.6rem;
    border-style: solid;
    border-color: transparent;
}

.banner a{
    text-decoration: none;
    color: #fff;
}

.offers{
    text-align: center;
    padding: 3rem 1rem
}

.offers h1{
    font-size: 3rem
}

.element{
    display: flex;
    background-color: #f4f4f4;
    margin: 1rem;
    border-radius: 15px;
    padding: 1rem;
    gap: 1rem;
    max-width: 800px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

.element h1{
  font-size: 1.5rem;
}

.element img{
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
}

.element_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start{
    background-color: #ffe76e;
    color:#000;
    text-align: center;
    padding: 10rem 3rem;
}

.start h1{
    font-size: 3.5rem;
}
.start p{
  font-size: 1.5rem;
}

.contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem
  }
  
  .contact_form form {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .contact_form form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
    color: #479488;
  }
  
  .contact_form form input[type="text"],  .contact_form form textarea[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    box-sizing: border-box;
  }
  
  .contact_form form input[type="text"]:focus,.contact_form form textarea[type="text"]:focus {
    outline: none;
    border-color: #93d9cf;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.2);
  }
  
  .contact_form form button {
    width: 100%;
    padding: 10px;
    background-color: #ffbbb4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact_form form button:hover {
    background-color: #ffbbb4;
  }

  .our_mission{
    margin: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
    text-align: center;
    padding: 1rem;
  }

  .team{
    margin: 2rem;
    margin-top: 3rem;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 1rem;
  }

  .people{
    display:flex;
    text-align: center;
    margin: auto;
    padding: 1rem;
  }
  .team_member{
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    margin-bottom:  5rem;
  }

  .team_member img{
    border-radius: 50%;
    max-width: 250px;
    height: 250px;
  }


footer {
    background-color: #479488;
    color: #fff;
    padding: 1rem 2rem;
    width: 100%; 
    z-index: 1000; 
    color: #fff;
    text-align: center;
}

.footer_nav_links{
    display: flex;
    color: #479488;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    justify-content: center;
}

.footer_nav_links a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}